@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using App.ExemploMvc
@using App.ExemploMvc.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IWebResourceManager WebResourceManager
@inject ILanguageManager LanguageManager
@inject IMultiTenancyConfig MultiTenancyConfig
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "ExemploMvc";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
    <style>
        .home-page {
            -ms-flex-align: center;
            /* align-items: center; */
            background: #e9ecef;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            /* height: 100vh; */
            -ms-flex-pack: center;
            justify-content: center;
            margin: 20px;
        }
    </style>
</head>
<body class="hold-transition home-page">
    <div class="page-box">
        <div class="login-logo">
            <a href="/"><b>ExemploMvc</b></a>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="/">Página Inicial</a> | <a href="/About">Sobre</a> <a href="/BackHome" class="float-right">Entrar</a>
            </div>
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
            <div class="card-footer">
                <vc:account-languages></vc:account-languages>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <small>&copy; @DateTime.Now.Year ExemploMvc. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
    @WebResourceManager.RenderScripts()
</body>
</html>
