@using App.ExemploMvc.Web.Startup

@model App.ExemploMvc.Web.Models.Tasks.IndexViewModel

@{ 
    ViewBag.Title = L("TaskList");
    ViewBag.CurrentPageName = PageNames.TaskList;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("TaskList")</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <ul class="list-group" id="TaskList">
                            @foreach (var task in Model.Tasks)
                            {
                                <li class="list-group-item">
                                    <span class="float-right badge @Model.GetTaskLabel(task)">@L($"TaskState_{task.State}")</span>
                                    <h4 class="list-group-item-heading">@task.Title</h4>
                                    <div class="list-group-item-text">
                                        @task.CreationTime.ToString("dd/MM/yyyy HH:mm:ss")
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
